<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.AdminDAO">
    <select id="selectAdminByNumber" parameterType="String" resultType="com.mida.chromeext.modules.pojo.Admin">
        SELECT admins.*
        FROM admins
        WHERE admins.number = #{number} limit 1
    </select>

    <select id="selectAdminByRoleNames" parameterType="String" resultType="com.mida.chromeext.modules.pojo.Admin">
        SELECT admins.*
        FROM admins
        LEFT JOIN admins_roles ar ON ar.admin_id = admins.aid
        LEFT JOIN roles ON roles.rid = ar.role_id AND roles.name in
        <foreach collection="list" item="roleName" open="(" close=")" separator=",">
            #{roleName}
        </foreach>
    </select>
</mapper>