<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.dao.BgPictureDAO">

    <insert id="batchInsertBgPicture" parameterType="map">
        insert into bg_pictures(src, title, created_by, created_at)
        values
        <foreach collection="list" item="bg" separator="," index="index">
            <trim prefix="(" suffix=")">
                #{bg.src},
                #{bg.title},
                #{bg.createdBy},
                now()
            </trim>
        </foreach>
    </insert>


    <select id="listRandomBgPicture" parameterType="map" resultType="com.mida.chromeext.pojo.BgPicture">
        SELECT * FROM bg_pictures WHERE pid >= ((SELECT MAX(pid) FROM bg_pictures)-(SELECT MIN(pid) FROM bg_pictures)) * RAND() + (SELECT MIN(pid) FROM bg_pictures) limit #{number};
    </select>

</mapper>