<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.DefaultMenuDAO">
    <resultMap type="com.mida.chromeext.modules.vo.DefaultMenuRelVo" id="menuMap" autoMapping="true">
        <result column="m_created_at" property="createdAt"/>
        <result column="m_updated_at" property="updatedAt"/>
        <association property="createdAdmin" javaType="com.mida.chromeext.modules.pojo.Admin" autoMapping="true"
                     notNullColumn="aid">
            <result column="number" property="number"/>
        </association>
        <association property="country" javaType="com.mida.chromeext.modules.pojo.Country" autoMapping="true"
                     notNullColumn="cid">
            <result column="c_name" property="name"/>
        </association>
    </resultMap>
    <select id="selectByCountryCode" resultType="com.mida.chromeext.modules.pojo.DefaultMenu">
        select * from default_menus where country_code = #{code} limit 1
    </select>

    <select id="listAllMenus" resultMap="menuMap">
         select did, country_code, dm.created_at as m_created_at, dm.updated_at as m_updated_at, menus,
               cs.code, cs.cid, cs.name as c_name, admins.aid, admins.number
        from default_menus dm
        left join countries cs on cs.code = dm.country_code
        left join admins on admins.aid = dm.created_by
        order by did desc
    </select>
</mapper>