<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tabplus.api.modules.dao.DownloadRecordDAO">
    <insert id="insertWithId" parameterType="net.tabplus.api.modules.pojo.DownloadRecord">
        insert into download_records (did, ip, ua, plugin_platform, country_code, created_at)
        values (#{did,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{ua,jdbcType=VARCHAR}, #{plugin_platform,jdbcType=VARCHAR}, #{country_code,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP})
    </insert>

    <select id="listDailyDloadsCount" resultType="net.tabplus.api.modules.vo.statistic.StatisticCountVo">
        SELECT date(created_at) as `name` , count(1) as count FROM `download_records`
        where
        <![CDATA[ created_at >= #{beginTime}]]>
        <if test="endTime != null">
            and <![CDATA[ created_at <= #{endTime} ]]>
        </if>
        GROUP BY date(created_at)
    </select>

    <select id="listMonthlyDloadsCount" resultType="net.tabplus.api.modules.vo.statistic.StatisticCountVo">
        SELECT DATE_FORMAT(created_at,'%Y-%m') as `name` , count(1) as count FROM `download_records`
        where
        <![CDATA[ created_at >= #{beginTime}]]>
        <if test="endTime != null">
            and <![CDATA[ created_at <= #{endTime} ]]>
        </if>
        GROUP BY DATE_FORMAT(created_at,'%Y-%m')
    </select>
</mapper>