<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.PermissionDAO">
    <select id="selectPermissionsByRoleId" resultMap="com.mida.chromeext.modules.dao.mapper.PermissionMapper.BaseResultMap">
		select p.*
		from permissions p
		left join roles_permissions rp on rp.permission_id = p.pid
		where rp.role_id = #{roldId}
	</select>

	<select id="selectMissingPermissionsByRoleId" resultMap="com.mida.chromeext.modules.dao.mapper.PermissionMapper.BaseResultMap">
		select p.*
		from permissions p
		where not p.pid in (
			select p.pid from permissions p
			left join roles_permissions rp on rp.permission_id = p.pid
			where rp.role_id = #{roldId}
		)
	</select>
</mapper>