<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.SiteDAO">

    <update id="increaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count + 1
        where sid = #{sid,jdbcType=INTEGER}
    </update>

    <update id="decreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count - 1
        where sid = #{sid,jdbcType=INTEGER}
    </update>

    <update id="batchIncreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count + 1
        where sid in
        <foreach collection="list" item="sid" open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </update>

    <update id="batchDecreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count - 1
        where sid in
        <foreach collection="list" item="sid" open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </update>

    <select id="listAllSiteURL" resultType="map">
        select url
        from sites;
    </select>

    <select id="listSitesByPage" resultType="com.mida.chromeext.modules.pojo.Site">
        select s.sid,s.title,s.url,s.icon,s.cate_id
        from sites s
        join countries_sites cs
        on s.sid = cs.site_id
        where cs.country_code = #{queryVo.countryCode}
        <if test="queryVo.keyWord != null and queryVo.keyWord !=''">
            and s.title like CONCAT(CONCAT('%',#{queryVo.keyWord}), '%')
        </if>
        <if test="queryVo.siteCategory != null and queryVo.siteCategory.cid !=null">
            and s.cate_id = #{queryVo.siteCategory.cid}
        </if>
        order by s.weight desc
    </select>

    <select id="listAllTitle" resultType="string">
        select title
        from sites
    </select>
</mapper>