<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.SiteDAO">
    <resultMap type="com.mida.chromeext.modules.vo.SiteRelationVo" id="siteRelMap" autoMapping="true">
        <result column="site_title" property="title"/>
        <result column="s_created_at" property="createdAt"/>
        <result column="s_updated_at" property="updatedAt"/>
        <association property="createdAdmin" javaType="com.mida.chromeext.modules.pojo.Admin" autoMapping="true"
                     notNullColumn="aid">
            <result column="a_number" property="number"/>
        </association>
        <association property="createdUser" javaType="com.mida.chromeext.modules.pojo.User" autoMapping="true"
                     notNullColumn="uid">
            <result column="u_number" property="number"/>
        </association>
        <association property="category"
                     javaType="com.mida.chromeext.modules.pojo.SiteCategory" autoMapping="true"
                     notNullColumn="cid">
            <result column="cate_title" property="title"/>
        </association>
    </resultMap>

    <update id="increaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count + 1
        where sid = #{sid,jdbcType=INTEGER}
    </update>

    <update id="decreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count - 1
        where sid = #{sid,jdbcType=INTEGER}
    </update>

    <update id="batchIncreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count + 1
        where sid in
        <foreach collection="list" item="sid" open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </update>

    <update id="batchDecreaseUsedCount" parameterType="java.lang.Integer">
        update sites
        set used_count = used_count - 1
        where sid in
        <foreach collection="list" item="sid" open="(" close=")" separator=",">
            #{sid}
        </foreach>
    </update>

    <select id="listAllSiteURL" resultType="map">
        select url
        from sites;
    </select>

    <select id="queryList" resultType="com.mida.chromeext.modules.pojo.Site">
        select s.*
        from sites s
        <if test="queryVo.countryCodes != null and !queryVo.countryCodes.isEmpty()">
            join countries_sites cs
            on s.sid = cs.site_id and cs.country_code in
            <foreach collection="queryVo.countryCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
        <where>
            <if test="queryVo.keyword != null and queryVo.keyword !=''">
                and s.title like CONCAT(CONCAT('%',#{queryVo.keyword}), '%')
            </if>
            <if test="queryVo.categoryIds != null and !queryVo.categoryIds.isEmpty()">
                and s.cate_id in
                <foreach collection="queryVo.categoryIds" item="cid" open="(" close=")" separator=",">
                    #{cid}
                </foreach>
            </if>
        </where>
        order by s.weight desc, s.sid desc
    </select>

    <select id="queryListWithRelations" resultMap="siteRelMap">
        select s.sid, s.title as site_title, s.url, s.icon, s.cate_id, s.weight, s.marks, s.state, s.creator_type, s.creator_id, s.created_at as s_created_at, s.updated_at as s_updated_at,
               c.cid, c.title as cate_title,
               a.aid, a.number as a_number,
               u.uid, u.number as u_number, u.avatar
        from sites s
        left join admins a on a.aid = s.creator_id and s.creator_type = 0
        left join users u on u.uid = s.creator_id and s.creator_type = 1
        left join site_categories c on c.cid = s.cate_id
        <if test="queryVo.countryCodes != null and !queryVo.countryCodes.isEmpty()">
            join countries_sites cs
            on s.sid = cs.site_id and cs.country_code in
            <foreach collection="queryVo.countryCodes" item="code" open="(" close=")" separator=",">
                #{code}
            </foreach>
        </if>
        <where>
            <if test="queryVo.keyword != null and queryVo.keyword !=''">
                and s.title like CONCAT(CONCAT('%',#{queryVo.keyword}), '%')
            </if>
            <if test="queryVo.state != null">
                and s.state = #{queryVo.state}
            </if>
            <if test="queryVo.creatorType != null">
                and s.creator_type = #{queryVo.creatorType}
            </if>
            <if test="queryVo.creatorIds != null and !queryVo.creatorIds.isEmpty()">
                and s.creator_id in
                <foreach collection="queryVo.creatorIds" item="cid" open="(" close=")" separator=",">
                    #{cid}
                </foreach>
            </if>
            <if test="queryVo.categoryIds != null and !queryVo.categoryIds.isEmpty()">
                and s.cate_id in
                <foreach collection="queryVo.categoryIds" item="cid" open="(" close=")" separator=",">
                    #{cid}
                </foreach>
            </if>
            <if test="queryVo.countryCodes != null and !queryVo.countryCodes.isEmpty()">
            </if>
        </where>
        order by s.weight desc, s.sid desc
    </select>

    <select id="listAllTitle" resultType="string">
        select title
        from sites
    </select>

    <select id="listSitesCountByCategory" resultType="com.mida.chromeext.modules.vo.statistic.CategorySitesCount">
        SELECT c.cid, c.index, c.title, ifnull( s.`count`, 0 ) AS `sites_count`
        FROM
            site_categories AS c
                LEFT JOIN ( SELECT cate_id, count( 1 ) count FROM sites GROUP BY cate_id ) AS s ON c.cid = s.cate_id
        order by s.weight desc, s.sid desc

</select>

</mapper>