<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.tabplus.api.modules.dao.SiteCategoryDAO">

    <select id="listAllCategories" resultType="net.tabplus.api.modules.pojo.SiteCategory">
        select cid,title,created_at,updated_at,`index`
        from site_categories;
    </select>

    <select id="listAllCategoriesTitle" resultType="string">
        select title from site_categories;
    </select>

    <delete id="batchDelete">
        delete from site_categories where cid in
        <foreach collection="list" item="cid" open="(" close=")" separator=",">
            #{cid}
        </foreach>
        and not exists (select 1 from sites where sites.cate_id = site_categories.cid);
    </delete>
</mapper>