<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.UserDAO">

    <select id="dailyCounts"  resultType="com.mida.chromeext.modules.vo.statistic.StatisticCountVo">
        SELECT date(login_time) as `name` , count(DISTINCT(client_id)) as count FROM `login_records`
        where
        <![CDATA[ login_time >= #{beginTime,jdbcType=DATE}]]>
        <if test="endTime != null">
           and <![CDATA[ login_time <= #{endTime,jdbcType=DATE} ]]>
        </if>
        GROUP BY date(login_time)
    </select>

    <select id="monthlyCounts"  resultType="com.mida.chromeext.modules.vo.statistic.StatisticCountVo">
        SELECT 	DATE_FORMAT(login_time,'%Y-%m') as `name` , count(DISTINCT(client_id)) as count FROM `login_records`
        where
        <![CDATA[ login_time >= #{beginTime,jdbcType=DATE}]]>
        <if test="endTime != null">
            and <![CDATA[ login_time <= #{endTime,jdbcType=DATE} ]]>
        </if>
        GROUP BY 	DATE_FORMAT(login_time,'%Y-%m')
    </select>

    <select id="listCountsByCountry" resultType="com.mida.chromeext.modules.vo.statistic.StatisticUserByCountry">
        SELECT
            ifnull(u.`count`, 0) as `count`, cid, `name`, locale_name, c.`code`, type, tel_prefix, time_zone, users_count, created_at, updated_at
        FROM
            countries AS c
                left JOIN ( SELECT country_code as `code`, count(1) count FROM users GROUP BY country_code ) AS u ON c.`code` = u.`code`
    </select>
</mapper>