<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.UserMenuDAO">
    <select id="getMenuItemsByUserId" parameterType="integer" resultType="com.mida.chromeext.modules.pojo.UserMenu">
        SELECT m.mid, m.user_id, m.menus
        FROM user_menus m
        WHERE m.user_id = #{userId}
    </select>
</mapper>