<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.modules.dao.UserSettingDAO">
    <select id="selectOneByUserId" parameterType="integer" resultType="com.mida.chromeext.modules.pojo.UserSetting">
        SELECT sid, uid, settings
        FROM user_settings
        WHERE user_settings.uid = #{userId}
    </select>
</mapper>