<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mida.chromeext.mapper.UserMenuMapper">
    <resultMap id="BaseResultMap" type="com.mida.chromeext.pojo.UserMenu">
        <id column="mid" jdbcType="VARCHAR" property="mid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon_src" jdbcType="VARCHAR" property="iconSrc"/>
        <result column="is_folder" jdbcType="BIT" property="isFolder"/>
        <result column="folder_id" jdbcType="INTEGER" property="folderId"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="index" jdbcType="SMALLINT" property="index"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    mid, title, url, icon_src, is_folder, folder_id, user_id, `index`, created_at
  </sql>
    <select id="selectByExample" parameterType="com.mida.chromeext.pojo.UserMenuExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user_menus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_menus
        where mid = #{mid,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user_menus
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.mida.chromeext.pojo.UserMenuExample">
        delete from user_menus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.mida.chromeext.pojo.UserMenu">
        <selectKey keyProperty="mid" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_menus (title, url, icon_src,
        is_folder, folder_id, user_id,
        `index`, created_at)
        values (#{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{iconSrc,jdbcType=VARCHAR},
        #{isFolder,jdbcType=BIT}, #{folderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
        #{index,jdbcType=SMALLINT}, #{createdAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.mida.chromeext.pojo.UserMenu">
        <selectKey keyProperty="mid" order="AFTER" resultType="java.lang.String">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_menus
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
                title,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="iconSrc != null">
                icon_src,
            </if>
            <if test="isFolder != null">
                is_folder,
            </if>
            <if test="folderId != null">
                folder_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="index != null">
                `index`,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="iconSrc != null">
                #{iconSrc,jdbcType=VARCHAR},
            </if>
            <if test="isFolder != null">
                #{isFolder,jdbcType=BIT},
            </if>
            <if test="folderId != null">
                #{folderId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="index != null">
                #{index,jdbcType=SMALLINT},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.mida.chromeext.pojo.UserMenuExample" resultType="java.lang.Long">
        select count(*) from user_menus
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user_menus
        <set>
            <if test="record.mid != null">
                mid = #{record.mid,jdbcType=VARCHAR},
            </if>
            <if test="record.title != null">
                title = #{record.title,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null">
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.iconSrc != null">
                icon_src = #{record.iconSrc,jdbcType=VARCHAR},
            </if>
            <if test="record.isFolder != null">
                is_folder = #{record.isFolder,jdbcType=BIT},
            </if>
            <if test="record.folderId != null">
                folder_id = #{record.folderId,jdbcType=INTEGER},
            </if>
            <if test="record.userId != null">
                user_id = #{record.userId,jdbcType=INTEGER},
            </if>
            <if test="record.index != null">
                `index` = #{record.index,jdbcType=SMALLINT},
            </if>
            <if test="record.createdAt != null">
                created_at = #{record.createdAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user_menus
        set mid = #{record.mid,jdbcType=VARCHAR},
        title = #{record.title,jdbcType=VARCHAR},
        url = #{record.url,jdbcType=VARCHAR},
        icon_src = #{record.iconSrc,jdbcType=VARCHAR},
        is_folder = #{record.isFolder,jdbcType=BIT},
        folder_id = #{record.folderId,jdbcType=INTEGER},
        user_id = #{record.userId,jdbcType=INTEGER},
        `index` = #{record.index,jdbcType=SMALLINT},
        created_at = #{record.createdAt,jdbcType=TIMESTAMP}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.mida.chromeext.pojo.UserMenu">
        update user_menus
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="iconSrc != null">
                icon_src = #{iconSrc,jdbcType=VARCHAR},
            </if>
            <if test="isFolder != null">
                is_folder = #{isFolder,jdbcType=BIT},
            </if>
            <if test="folderId != null">
                folder_id = #{folderId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="index != null">
                `index` = #{index,jdbcType=SMALLINT},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where mid = #{mid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mida.chromeext.pojo.UserMenu">
    update user_menus
    set title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      icon_src = #{iconSrc,jdbcType=VARCHAR},
      is_folder = #{isFolder,jdbcType=BIT},
      folder_id = #{folderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      `index` = #{index,jdbcType=SMALLINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
</mapper>